{%  extends  'base.html' %}

	{% block head %}
	<title>Home Page</title>
	{% endblock %}

	{% block body %}
		<div class="container">
			<h1>Home Page!</h1>
		</div>
		<div class="jumbotron">
			<h2>HOW I WORKS.. </h2>
		</div>
	{% endblock %}
