 {% extends 'base.html' %}

 {% block body %}
 <div class="container">
	 <h1> Welcome </h1>

	 <p>
	 	You can login here:
	</p>
	<h2>Login</h2>
	<form method="post">
		{% csrf_token %} <!-- CSrF security -->
		{{ form.as_p }} <!--  Render form i..e username and password -->
		<button type="submit">Login</button>
	</form>
</div>
{% endblock %}