{%  extends  'base.html' %}

	{% block head %}
	<title>Home Page</title>
	{% endblock %}

	{% block body %}
		<div class="container">
			<h1>Logout Page!</h1>
		</div>
		<div class="jumbotron">
			<h2>you have logged out.. </h2>
		</div>
	{% endblock %}
