{% extends 'base.html' %}

{% block head %}
<title>Profile</title>
{% endblock %}

{% block body %}
<div class="container">
	<form method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit">Save Changes</button>
	</form>
</div>

{% endblock %}