{% extends 'base.html' %}

{% block body %}
<div class="container">
	<h1> Teacher Register Form </h1>
	<form method="POST"> 
		<!-- Need csrf token and the sent user creation form in p tags -->
		{% csrf_token %}
		{{ user_form.as_p }}
		<!-- Need csrf token and the sent user creation form in p tags -->
		{% csrf_token %}
		{{ form_student.as_p }}
		<button type="submit">Register</button>		
	</form>
</div>
{% endblock %}